h1, h2, h3, h4, h5, h6, body, header {
    font-family: 'Candara', 'Alegreya Sans', 'Trebuchet Ms', 'Segoe UI', sans-serif;
}

h2 { color: #25c }

section {
    font-family: 'Palatino', 'Palatino Linotype', 'URW Palladio L', 'Century Schoolbook L', 'Georgia', serif;
}

.base03 { color: #000000; }
.base02 { color: #073642; }
.base01 { color: #586e75; }
.base00 { color: #657b83; }
.base0 { color: #839496; }
.base1 { color: #93a1a1; }
.base2 { color: #eee8d5; }
.base3 { color: #ffffff; }
.yellow { color: #b58900; }
.orange { color: #cb4b16; }
.red { color: #dc322f; }
.magenta { color: #d33682; }
.violet { color: #6c71c4; }
.blue { color: #268bd2; }
.cyan { color: #2aa198; }
.green { color: #859900; }

body {
    background: #000000;
    color: #ffffff;
}

footer {
    color: #93a1a1;
}

a, a:hover {
    color: #268bd2;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 95%;
}

a:hover {
    color: #2aa198;
    background-image: linear-gradient(#2aa198, #2aa198);
}

code, tt.docutils.literal {
    color: #15c;
}

.slide {
    background-color: #ffffff;
    color: #000000;
}

.expose .slide:hover {
    box-shadow: 0 0 0 15px #268bd2;
}

.expose .slide.current {
    box-shadow: 0 0 0 30px #b58900;
}

.expose .slide.current:hover {
    box-shadow: 0 0 0 15px #268bd2, 0 0 0 30px #b58900;
}

.presenter_notes {
    background: #000000;
    color: #ffffff;
}

@media screen, projection {
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-color: #eee8d5;
    }
    ::-webkit-scrollbar {
        background: #eee8d5;
    }
    ::-webkit-scrollbar-corner {
        background: #ffffff;
    }
}
.qr svg {
    box-shadow: inset 0 0 10px #eee8d5;
}
.slides, .expose .slides.nocontext,
.expose .slide.current,
.expose .slide.current .inner {
    /*background: #000;*/
}
/* See: https://gist.github.com/nicolashery/5765395 */
/* Synic syntax highlighting */
/*pre pre:not(.diff-line-pre),pre table{background:#000!important;color:#ffffffff0!important;}*/

pre  { color: #15c; background: #ffffff; }

pre .o { color: #00a } /* Operator */
pre .c { color: #f50 } /* Comment.Single */
pre .c1 { color: #f50 } /* Comment.Single */
pre .s1 { color: #f55 } /* Literal.String.Single */
pre .se { color: #f55 } /* Literal.String.Escape */
pre .s2 { color: #f55 } /* Literal.String.Double */
pre .k { color: #369 } /* Keyword */
pre .n { color: #d50 }
pre .mi { color: #07f }
pre .bp { color: #f30 }
